@property --myColor1 {
  syntax: '<color>';
  initial-value: theme('colors.primary.400');
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: theme('colors.secondary.400');
  inherits: false;
}

.submitButton {
  @apply inline-flex items-center md:px-12 md:py-6 px-8 py-3 text-2xl md:text-4xl font-light rounded-full shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-400;
  background: linear-gradient(var(--myColor1), var(--myColor2)) !important;
  transition: --myColor1 0.25s, --myColor2 0.25s !important;
}

.submitButton:hover {  
  --myColor1: theme('colors.secondary.500');
  --myColor2: theme('colors.primary.500');
}
